<!DOCTYPE html>
<html>
<head>
  <title>RoadTrip</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="header">
  <h1>Road Trip 2013</h1>
</div>

<div id="content">

  <%= yield %>

</div>

<div id="cities">
  <% City.all.each do |city| %>
    <li><%= link_to city.short_name, city_path(city) %></li>
    <span>-</span>
  <% end %>
</div>

</body>
</html>
